.success {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border: rgb(25, 107, 25);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    color: rgb(104, 0, 0);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border: rgb(194, 0, 42);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
